<h1>The book of the month - December 2021</h1>
<p>Book Name: {{book.name}}</p>
<p>Author: {{book.author}}</p>
<p>Publishing Year: {{book.year}}</p>
<p>Date Posted: {{book.date_posted}}</p>
<p>Synopsis: {{book.synopsis}}</p>
<div>
  <p>Add reviews:</p>
<form class="form new-review-form">
      
      <div class="form-group">
        <label for="review-desc">description:</label>
        <textarea class="form-input" id="review-desc" name="review-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
    </div>




{{#if book.reviews.length}}
<div class="review-list"></div>
{{#each book.reviews as | review |}}


<p>{{review.review_text}}</p>
<p>Added by: {{user.name}}</p>

{{/each}}
</div>
{{/if}}





