<h1>December 2021</h1>
<hr>
<img class="book-cover" src="{{book.img_url}}"/>
<h2 class="book-title">{{book.name}} - {{book.year}}</h2>
<p class="text-center"><span class="subtitle">Author:</span> {{book.author}}</p>
<p class="text-center"><span class="subtitle">Synopsis:</span> {{book.synopsis}}</p>
<p class="text-center"><a class="purchase-link" href="{{book.purchase_link}}">Purchase here!</a></p>



<p class="text-center user-reviews"><span class="subtitle">User Reviews:</span></p>
{{#each book.reviews as | review |}}

<p class="text-center">{{review.review_text}}</p>

{{/each}}