<h1>December 2021</h1>
<hr>
<img class="book-cover" src="{{book.img_url}}"/>
<h2 class="book-title">{{book.name}} - {{book.year}}</h2>
<p class="text-center"><span class="subtitle">Author:</span> {{book.author}}</p>
<p class="text-center"><span class="subtitle">Synopsis:</span> {{book.synopsis}}</p>
<p class="text-center"><a class="purchase-link" href="{{book.purchase_link}}">Purchase here!</a></p>
<p class="text-center user-reviews"><span class="subtitle">User Reviews:</span></p>


<div>
  <p>Add reviews:</p>
<form class="form new-review-form">
      
      <div class="form-group">
        <label for="review-desc">description:</label>
        <textarea class="form-input" id="review-desc" name="review-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
    </div>




{{#if book.reviews.length}}

{{#each book.reviews as | review |}}

<div class="review-list">
<p>{{review.review_text}}</p>
<p>Added by: {{review.user.name}}</p>
<button class="btn btn-sm btn-danger" data-id="{{review.review_id}}">DELETE</button>
</div>
{{/each}}

{{/if}}


<script src="./js/review.js"></script>



